@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro.ttf') format('truetype');
}

@theme {
  --color-munchies-green: #00703A;
  --color-munchies-black: #000000;
  --color-munchies-white-off: #FAFAFA;
  --color-munchies-gray: #0000001A;
}

/* Add it to the Tailwind layer */
@layer base {
  body {
    font-family: 'SF Pro', sans-serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


